<?xml version="1.0" encoding="utf-8" ?>
<SCF>
        <Service name="feaservice" id="105" maxThreadCount="50">
                <Commmunication>
                    <SocketPool bufferSize="4096" minPoolSize="3" maxPoolSize="100"
                        nagle="true" autoShrink="00:00:20" sendTimeout="00:00:05"
                        receiveTimeout="00:00:05" waitTimeout="00:00:03" />
                    <Protocol serialize="SCFV2" encoder="UTF-8" compressType="UnCompress" />
                </Commmunication>
                <Loadbalance>
                    <Server deadTimeout="00:00:20">
								<!-- online -->
							    <add name="fea1" host="10.126.101.82" port="23456" maxCurrentUser="300" />
                    </Server>
                </Loadbalance>
        </Service>

</SCF>
